#myDIV{
    background-color: lightblue;
    transform: rotate(7deg);
    width: 100px;
    height: 100px;
}

section{
  padding: 6rem;
}

.mail-link{
	color: #4c6c8c;
	text-decoration: none;
}

.mail-link:hover{
	color: #fa5e74;
  text-decoration: none;
}



/* a.nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
}

a.nav-link:hover {
  color: #000;
}

a.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4c6c8c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
} */

/* for the animation to appear */
/* a.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

a.active::after {
  position: relative;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4c6c8c;
  border-bottom:1px solid red;
}

.active{
  color: red !important;
} */

html {
  scroll-padding-top: 80px; /* height of sticky header */
}



/* a {
  position: relative;
  text-decoration: none;
}

a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px solid red;
} */

/* .active{
  text-decoration: underline;
  border-bottom: 4rem;
  background-color: red;
} */


/* Define the shape and color of the hamburger lines */
/* .navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
} */


/* top line needs a little padding */
/* .navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
} */

/**
 * Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}


/**
 * Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
